<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
    http://www.springframework.org/schema/beans/spring-beans.xsd
    http://www.springframework.org/schema/context
    http://www.springframework.org/schema/context/spring-context.xsd">

    <!--    Настройка для сканирования пакета "spring_introduction" на предмет аннотаций @Component-->
    <context:component-scan base-package="spring_introduction.annotations"/>

    <!--    Настройка для работы аннотации @value через проперти файл-->
    <context:property-placeholder location="classpath:myApp.properties"/>

</beans>
